/* FileUpload.css */
.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 2rem;
}

.file-input {
    display: none;
}

.file-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.upload-icon {
    text-align: center;
    font-size: 70px;
    color: #b1b1b1;
}

.file-label span {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.file-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.upload-preview {
    width: 100%;
    padding-bottom: 100%; /* Altura relativa à largura do contêiner */
    position: relative;
  }

.upload-preview img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ajusta a largura da imagem para preencher o contêiner */
    height: 100%; /* Ajusta a altura da imagem para preencher o contêiner */
    object-fit: contain; /* Mantém a proporção da imagem e ajusta seu tamanho para preencher o contêiner */
  }

.file-details {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
}

.file-details span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 30px);
}

.remove-button {
    background: none;
    border: none;
    color: #f44336;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.remove-button:hover {
    color: #d32f2f;
}